.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40vh;
    -webkit-mask-image: linear-gradient(90deg, transparent 0%, transparent 10%, #fff 20%, #fff 80%, transparent 90%, transparent 100%);
}

.slider {
	height: 150px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 80%;
}

.slider .slide-track {
	-webkit-animation: scroll 8s linear infinite;
	animation: scroll 8s linear infinite;
	display: flex;
	width: calc(250px * 14);
}

.slider .slide {
	height: 100px;
	width: 250px;
}

.slider .slide img {
    width: 80%;
	height: 100px;
	border-radius: 100px;
	border: 2px solid #bbbbbb;
}

@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}